# Django
Django

# Settings
django-environ

# PostgreSQL
psycopg2

# Django REST Framework
djangorestframework
djangorestframework-gis

# Translations
django-parler
django-parler-rest
# We use modeltranslations because django-munigeo depends on it
django-modeltranslation

# Municipalities
-e git+git://github.com/City-of-Helsinki/django-munigeo.git#egg=django-munigeo
